<%= turbo_frame_tag dom_id(@game_state), class: "bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-3 p-5" do %>
  <h2 class="text-base/7 font-semibold text-gray-900">Generation <%= @game_state.generation %></h2>
  <p class="mt-1 text-sm/6 text-gray-600">Population: <%= @game_state.alived_cells_count %></p>
  <div class="block md:hidden text-center text-red-500 mb-4 landscape:hidden">
    Please rotate your device for a better viewing experience.
  </div>

  <div class="grid gap-1 bg-black p-2 rounded-lg" style="grid-template-columns: repeat(<%= @game_state.cols %>, minmax(0, 1fr)); grid-template-rows: repeat(<%= @game_state.rows %>, minmax(0, 1fr));">
    <% @game_state.state.each do |row| %>
      <% row.each do |cell| %>
        <div class="<%= cell == '*' ? 'bg-white' : 'bg-black' %> w-6 h-6 border border-gray-700"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
