<h1>Game State: Generation <%= @game_state.generation %></h1>
<p>Celulas vivas: <%= @game_state.alived_cells %></p>
<!-- Mostrar a matriz atual -->
<table>
  <% @game_state.state.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td><%= cell == "*" ? "★" : " " %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= button_to "Next Generation", next_generation_game_state_path(@game_state), method: :patch, class: "btn btn-primary" %>
<%= button_to "Reset to Initial State", reset_to_initial_game_state_path(@game_state), method: :patch %>
