<div id="flash-container" class="fixed bottom-4 right-4 space-y-4">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %> bg-<%= key == 'notice' ? 'green' : 'red' %>-100 border border-<%= key == 'notice' ? 'green' : 'red' %>-400 text-<%= key == 'notice' ? 'green' : 'red' %>-700 px-4 py-3 rounded shadow-lg relative" role="alert">
      <span class="block sm:inline"><%= message %></span>
      <button type="button" class="absolute top-0 bottom-0 right-0 pl-6 py-3" onclick="this.parentElement.style.display='none';">
        <span class="text-<%= key == 'notice' ? 'green' : 'red' %>-700">&times;</span>
      </button>
    </div>
  <% end %>
</div>
